%div.landing_page__center-bar
  %div.landing_page__center-bar-group
    %button
      =link_to "Create an Account", new_account_path
    %button
      =link_to "Create an Allocation", new_allocation_path
    %button
      =link_to "Create a Recurring Expense", new_recurring_expense_path
  %div.landing_page__center-bar-group
    %button
      =link_to "Account List", accounts_path
  %div.landing_page__center-bar-group
    %button
      =link_to "File an Expense", new_expense_path

